
<div ng-controller="switchController as switch">

    <h1>Switch Page</h1>


    <div class="row" ng-repeat="group in switch.grouplist">
        <div class="col-md-8" style="margin-top:20px;">
            <h2>Group {{group.number}}</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Campus</th>
                        <th>Gender</th>
                        <th>Type</th>
                        <th>Preference</th>
                        <th>switch</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="person in group.people">
                        <td>{{person.name}}</td>
                        <td>{{person.campus}}</td>
                        <td>{{person.gender}}</td>
                        <td>{{person.type}}</td>
                        <td>
                            <input ng-click="switch.switch(person._id, person.name, group.number)" type="checkbox" data-ng-false-value="xxx">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <input class="btn-danger" type="submit" ng-click="switch.switchExec()" value="Switch">
    </div>
</div>